@font-face {
    font-family: "poke";
    src: url("pokefont.ttf");
}


* {
    padding: 0;
    margin: 0 auto;
}

html {
    background: #1c2833;
}

.dex {
    width: 45%;
    margin: 0 auto;
    padding: 100px;
    border-radius: 25px;
    background: white;
}

.title {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    font-family: "poke";
    color: white;
    font-size: 7vw;
    margin-left: 7px;
    margin-bottom: 5px;
}

@media (max-width: 920px) {
    .dex {
        width: 75%;
        padding: 4%;
        padding-top: 50px;
    }

    .title {
        font-size: 11vw;
    }
}

.pokeName {
    width: 100%;
    margin-bottom: 0;
    margin-top: -20px;
    text-align: center;
    font-size: large;
    font-family: "poke";
}

.pokeType {
    width: 100%;
    text-align: center;
    margin-top: 0;
    font-size: 13px;
    font-family: "poke";
}

.pokestats {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding: 10px 15px;
    justify-content: space-between;
    border: 1px solid black;
    background: white;
    margin-top: 10px;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;

}

.pokeStatNames,
.pokeStatVals {
    list-style: none;
}

.pokeImg {
    display: flex;
    align-items: center;
}

.pkpic {
    width: 200px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-around;
}

#pokeInfo {
    width: 100%;
    border-radius: 25px;
    padding-bottom: 20px;
    border: solid black 1px;
}

.typeEff {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.typing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.typey {
    border: 2px solid black;
    padding: 10px;
    border-radius: 25px;
    margin: 10px 0;
}

.tytle {
    margin: 0 auto;
    text-align: center;
}

.form {
    margin: 0px auto 40px;
    width: 100%;
    text-align: center;
}

#pokeInput {
    border: 1px solid grey;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
    background: white;
    box-shadow: 1px 1px 8px black;
    display: block;
    margin: 0px auto 10px;
    font-size: 24px;
    outline: none;
    width: calc(100% - 10px);
}

.button {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px 20px;
    text-align: center;
    background: lightgray;
    box-shadow: 1px 1px 8px black;
    display: block;
    margin: 20px auto 10px;
    font-size: 24px;
    outline: none;
}

.button:hover {
    background: grey;
}

.button:active {
    background: black;
    color: white;
}

.subtitle {
    color: black;
    font-size: 24px;
    margin: -30px auto 5px;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: "poke";
}


.type {
    background: #1c2833;
    border-radius: 15px;
    color: white;
    width: 60px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    list-style: none;
    /* text-shadow: -1px 1px 0 #000,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000; */
    font-family: 'Roboto', sans-serif;

}

.normal {
    background: #A8A878;
}

.rock {
    background: #B8A038;
}

.flying {
    background: skyblue;
}

.bug {
    background: yellowgreen;
}

.steel {
    background: #B8B8D0;
}

.psychic {
    background: #F85888;
}

.dragon {
    background: #7038F8;
}

.fairy {
    background: pink;
}

.electric {
    background: #F8D030;
}

.poison {
    background: #A040A0;
}

.water {
    background: #6890F0;
}

.fighting {
    background: #C03028;
}

.ground {
    background: #E0C068;
}

.fire {
    background: #F08030;
}

.grass {
    background: #78C850;
}

.ice {
    background: #98D8D8;
}

.dark {
    background: #705848;
}

.ghost {
    background: #705898
}

;

.invalid {
    color: red;
    display: block;
}

.hidden {
    display: none;
}

.moves{
    list-style: none;
    display:flex;
    width:50%;
    padding:0 25%;
    border:2px solid black;
    border-radius:25px;
}

@media (max-width: 1000px) {
    .moves{
        width:90%;
        padding:0 5%;
    }
}

.move{
    list-style:none;
    margin:10px;
    width:100%;
    font-family: poke;
}

.lv,.mv{
    border-bottom:1px solid black;
    display:flex;
    justify-content:space-between;
    padding: 11px 0 7px;
}

.row{
    margin:0;
}

.tbhead{
    font-weight:bold;
    font-size: 20px;
}

#genSelect{
    display:flex;
}